Repository aidotse/PASEOS, pull requests merged in 2022-11, with the labels that each got.

#40 Readthedocs support
  .readthedocs.yml
  docs/source/autodoc.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules.rst
  environment.yml
  paseos/__init__.py
Labels: documentation, user-facing

#39 Visual implementation follow up
  .github/workflows/run_tests.yml
  examples/visualization/example_animation.py
  examples/visualization/example_interactive_plot.py
  examples/visualization/example_jupyter.ipynb
  paseos/__init__.py
  paseos/visualization/animation.py
  paseos/visualization/plot.py
  paseos/visualization/space_animation.py
Labels: visualization, example, feature, user-facing

#27 Visual implementation
  README.md
  environment.yml
  examples/visualization/example_jupyter.ipynb
  paseos/__init__.py
  paseos/actors/ground_station_actor.py
  paseos/actors/spacecraft_actor.py
  paseos/paseos.py
  paseos/tests/visualization_test.py
  paseos/visualization/animation.py
  paseos/visualization/plot.py
  paseos/visualization/space_animation.py
  requirements.txt
  resources/images/animation.png
Labels: enhancement, feature

#36 Extend activities
  paseos/__init__.py
  paseos/activities/activity_manager.py
  paseos/activities/activity_processor.py
  paseos/activities/activity_runner.py
  paseos/actors/base_actor.py
  paseos/actors/spacecraft_actor.py
  paseos/paseos.py
  paseos/power/is_in_eclipse.py
  paseos/tests/activity_test.py
  paseos/utils/is_notebook.py
  resources/default_cfg.toml
  setup.py
Labels: tests, feature, user-facing, physical-model

#53 Set position only once
  paseos/actors/actor_builder.py
  paseos/actors/base_actor.py
  paseos/actors/ground_station_actor.py
  paseos/actors/spacecraft_actor.py
  paseos/tests/activity_test.py
  paseos/tests/check_communication_test.py
  paseos/tests/eclipse_test.py
  paseos/tests/init_test.py
  paseos/tests/line_of_sight_test.py
  paseos/tests/test_utils.py
  paseos/tests/visualization_test.py
Labels: enhancement, user-facing

#56 Activity visualization
  paseos/activities/activity_manager.py
  paseos/actors/base_actor.py
  paseos/visualization/space_animation.py
Labels: enhancement, visualization, example, user-facing

#38 Sentinel2 examples
  .gitignore
  environment.yml
  examples/Sentinel_2_example_notebook/Sentinel2_example_notebook.ipynb
  examples/Sentinel_2_example_notebook/utils.py
  paseos/__init__.py
  paseos/activities/activity_manager.py
  paseos/actors/base_actor.py
  paseos/paseos.py
  paseos/visualization/space_animation.py
Labels: documentation, visualization, example, user-facing
