Repository aidotse/PASEOS, pull requests merged in 2023-01, with the labels that each got.

#94 Update README.md
  README.md
Labels: documentation, enhancement, user-facing

#81 Thermal model
  README.md
  paseos/activities/activity_processor.py
  paseos/actors/actor_builder.py
  paseos/actors/base_actor.py
  paseos/actors/spacecraft_actor.py
  paseos/paseos.py
  paseos/power/is_in_eclipse.py
  paseos/tests/thermal_model_test.py
  paseos/thermal/thermal_model.py
  paseos/utils/operations_monitor.py
  paseos/visualization/space_animation.py
Labels: visualization, example, feature, user-facing

#90 Event based time advancement
  README.md
  examples/visualization/example_jupyter.ipynb
  paseos/activities/activity_manager.py
  paseos/activities/activity_processor.py
  paseos/actors/base_actor.py
  paseos/actors/spacecraft_actor.py
  paseos/paseos.py
  paseos/tests/event_based_test.py
  paseos/tests/multiple_instance_test.py
  paseos/tests/power_test.py
  paseos/visualization/space_animation.py
Labels: enhancement, tests, example, feature, user-facing, physical-model

#93 Added find next window
  paseos/__init__.py
  paseos/actors/base_actor.py
  paseos/communication/find_next_window.py
  paseos/communication/get_communication_window.py
  paseos/tests/communication_window_test.py
Labels: enhancement, tests, user-facing

#95 Monitor convenience functions
  paseos/paseos.py
  paseos/tests/multiple_instance_test.py
  paseos/tests/operations_monitor_test.py
  paseos/utils/operations_monitor.py
Labels: enhancement, tests, feature, user-facing

#109 Fixing bug, removing notebook special case
  paseos/activities/activity_manager.py
  paseos/utils/is_notebook.py
Labels: bug

#107 Example of learning application with PASEOS.
  examples/Learning_example/learning_example.ipynb
  examples/Learning_example/simple_neural_network.py
  examples/Learning_example/simple_node.py
Labels: example

#105 Radiation
  README.md
  paseos/__init__.py
  paseos/activities/activity_processor.py
  paseos/actors/actor_builder.py
  paseos/actors/base_actor.py
  paseos/actors/spacecraft_actor.py
  paseos/paseos.py
  paseos/radiation/radiation_model.py
  paseos/tests/activity_test.py
  paseos/tests/operations_monitor_test.py
  paseos/tests/radiation_test.py
  paseos/tests/test_utils.py
  paseos/tests/thermal_model_test.py
  paseos/tests/time_multiplier_test.py
Labels: documentation, enhancement, tests, feature, user-facing, physical-model, v0.1.0
